.m-info-list { padding: 0 16px; }
.m-info-list li { padding: 16px 0; border-bottom: .5px solid #eee; }
.m-info-list li:last-child { border-bottom: 0; }
.m-info-list h3 { max-height: 48px; font-size: 17px; font-weight: 600; line-height: 24px; letter-spacing: 0; color: #262626; }
.m-info-list p { width: 100%; max-height: 40px; margin-top: 5px; font-size: 14px; line-height: 20px; letter-spacing: 0; color: #595959; }
.m-info-list span { height: 17px; margin-top: 10px; display: block; font-size: 12px; line-height: 17px; letter-spacing: 0; color: #8c8c8c; }
.m-info-item-left { width: -moz-calc(100% - 133px); width: calc(100% - 133px); height: 68px; position: relative; float: left; }
.m-info-list img { width: 113px; height: 68px; margin-left: 20px; float: right; -moz-border-radius: 4px; border-radius: 4px; }