.news-ul {
    padding: 0 30upx 168upx;

    image {
        float: right;
        width: 218upx;
        height: 152upx;
        margin-left: 50upx;
    }

    ._li {
        padding: 30upx 0;
        border-bottom: 1px solid rgba($color: #000000, $alpha: 0.12);
    }

    ._h4 {
        display: block;
        width: calc(100% - 270upx);
        min-height: 82upx;
        padding-top: 6upx;
        margin-bottom: 40upx;
        font-size: 30upx;
        font-family: PingFang SC;
        font-weight: 500;
        color: #222222;
        line-height: 40upx;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
    }

    ._p {
        display: block;
        font-size: 24upx;
        font-family: PingFang SC;
        color: #999999;
        line-height: 1;
    }
}
.avatar-box {
	width: 100%;
	height: 120upx;
	margin-bottom: 30upx;
	border-radius: 60upx;
	overflow: hidden;

	image {
		width: 100%;
		height: 100%;
	}
}
@media only screen and (device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3) {
	.app-footer,.footer-box {
		height: 168upx;
	}
    .autopb {
        padding-bottom: 200upx;
    }
}
@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2) {
	.app-footer,.footer-box {
		height: 168upx;
	}
    .autopb {
        padding-bottom: 200upx;
    }
}

@media only screen and (device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 3) {
	.app-footer,.footer-box {
		height: 168upx;
	}
    .autopb {
        padding-bottom: 200upx;
    }
}