page {
	width: 100%;
	height: 100%;
	min-width: 640upx;
	background: #30a9fa;
}
.pageBg {
	width: 100%;
	height: 100%;
}
/* 品牌入驻界面开始 */
.ruzhu-main {
	position: relative;
}
/* 背景图拼接 */
.under {
	width: 750upx;
	font-size: 0;
	-webkit-text-size-adjust: none;
}
.under img {
	width: 750upx;
	height: 134upx;
}
.last-img {
	width: 750upx;
	height: 10upx;
}
/* 招生主页按钮 */
.homepage {
	position: absolute;
	width: 180upx;
	height: 56upx;
	top: 28upx;
	right: 0;
	line-height: 60upx;
	text-align: center;
	background: #1184e1;
	border-radius: 28upx 0upx 0upx 28upx;
	cursor: pointer;
}
.homepage a {
	color: #fff;
	font-size: 26upx;
	font-weight: 400;
}
.homepage .menu-index-linear {
	display: inline-block;
	width: 32upx;
	height: 32upx;
	vertical-align: text-bottom;
	margin-right: 6upx;
	-webkit-mask: url(https://static.jiaoyubao.cn/images/common/menu-index-linear.svg) no-repeat;
	mask: url(https://static.jiaoyubao.cn/images/common/menu-index-linear.svg) no-repeat;
	background-color: #fff;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}
.maintain {
	position: absolute;
	width: 100%;
	padding-bottom: 100upx;
	top: 1024upx;
	left: 50%;
	transform: translateX(-50%);
}

.maintain .worknow-1 a {
	display: block;
	width: 506upx;
	height: 108upx;
	margin: -130upx auto 40upx auto;
	
}
.describe {
	position: relative;
	width: 96%;
	min-width: 640upx;
	padding: 20upx 24upx 0upx 24upx;
	margin: 0 auto;
	background: url('https://static.jiaoyubao.cn/images/uniapp/enter_image/bowen@3x.png') no-repeat;
	background-size: 100%;
	border-radius: 0 0 52upx 52upx;
}
.describe .jinbi {
	position: absolute;
	width: 112upx;
	height: 112upx;
	top: -32upx;
	right: 13.7%;
}
.describe .jinbi img {
	width: 100%;
	height: 100%;
}
.describe-box {
	padding: 24upx;
	border-radius: 4upx 4upx 16upx 16upx;
}
.describe-box,
.advantage-box,
.process-box,
.choose-box,
.partner-box {
	width: 100%;
	margin: 0 auto;
	background: url('https://static.jiaoyubao.cn/images/uniapp/enter_image/wangge@3x.png') repeat;
	background-size: 30upx;
}
.advantage-box,
.process-box,
.choose-box,
.partner-box {
	border-radius: 16upx;
	height: 100%;
}
.process-box,
.choose-box {
	text-align: center;
	padding: 48upx 0upx;
}
.process-box p,
.choose-box p {
	font-size: 28upx;
	font-weight: 500;
	color: #595959;
	line-height: 42upx;
}
/* 模块标题 */
.sec-title {
	width: 648upx;
	height: 72upx;
	margin: 50upx auto 32upx auto;
}
.sec-title img {
	width: 100%;
	height: 100%;
}
.advantage,
.process,
.choose,
.partner {
	width: 93.6%;
	margin: 0 auto;
	padding: 10upx;
	background: rgba(94, 183, 247, 0.8);
	border-radius: 24upx;
}
.adv-out {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.adv-out .pencil {
	position: absolute;
	width: 24%;
	height: 28%;
	top: 21%;
	right: 0;
}
.adv-out .pencil img {
	width: 100%;
	height: 100%;
}
.choose {
	position: relative;
}
.choose .book {
	position: absolute;
	width: 110upx;
	height: 90upx;
	top: -46upx;
	right: -10upx;
}
.choose .book img {
	width: 100%;
	height: 100%;
}
.par-out {
	position: relative;
	width: 100%;
	overflow: hidden;
}
.par-out .finger {
	position: absolute;
	width: 18%;
	height: 31%;
	bottom: 14%;
	left: 0;
}
.par-out .finger img {
	width: 100%;
	height: 100%;
}
/* 教育宝介绍上部 */
.des-top {
	position: relative;
	width: 100%;
	padding: 30upx;
	margin-bottom: 24upx;
	background: linear-gradient(90deg, #07c0ff, #0e8def);
	border-radius: 12upx;
	font-size: 26upx;
}
.des-top p {
	display: inline-block;
	width: 100%;
	line-height: 44upx;
	color: #fff;
	font-weight: 700;
	font-size: 28upx;
}
.des-top a {
	display: inline-block;
	color: #fcf002;
	border-bottom: 2upx solid #fcf002;
	line-height: 1;
	cursor: pointer;
}
.des-top a:hover {
	border-bottom: none;
}
.des-top .yuan {
	position: absolute;
	width: 14upx;
	height: 14upx;
	border-radius: 50%;
}
.des-top span:nth-child(2) {
	left: 1.57%;
	top: 10upx;
	border: 4upx solid #1184e1;
	opacity: 0.4;
}
.des-top .yuan:nth-child(3) {
	left: 1.57%;
	bottom: 10upx;
	border: 4upx solid #1184e1;
	opacity: 0.4;
}
.des-top .yuan:nth-child(4) {
	right: 1.57%;
	top: 10upx;
	border: 4upx solid #7ecef4;
	opacity: 0.6;
}
.des-top .yuan:nth-child(5) {
	right: 1.57%;
	bottom: 10upx;
	border: 4upx solid #7ecef4;
	opacity: 0.6;
}
/* 教育宝介绍下部 */
.des-bottom {
	display: flex;
	width: 100%;
	flex-direction: column;
}
.des-bottom ul {
	width: 100%;
	flex: 1;
	text-align: center;
}
.des-bottom ul li:first-child {
	float: left;
}
.des-bottom ul li:last-child {
	float: right;
}
.des-bottom ul:first-child {
	border-top: 2upx dashed #1184e1;
}
.des-bottom li {
	width: 48%;
	margin-top: 24upx;
	background: #e6f8ff;
	border: 4upx solid #d3f0ff;
	border-radius: 20upx 20upx 80upx 20upx;
}
.des-bottom li span:first-child {
	line-height: 40upx;
	font-size: 44upx;
}
.des-bottom li span:nth-child(2) {
	transform: translateY(-4upx);
}
.des-bottom span {
	display: inline-block;
	margin-top: 44upx;
	margin-bottom: 16upx;
	color: #1184e1;
	font-size: 24upx;
	font-weight: 400;
}
.des-bottom p {
	margin-bottom: 20upx;
	font-size: 26upx;
	color: #999999;
	line-height: 1;
}
/* 教育宝优势 */
.advantage-box {
	position: relative;
	padding: 64upx 40upx;
	overflow: hidden;
}
.advantage-box li {
	width: 100%;
	margin-top: 9%;
}
.advantage-box li img {
	float: left;
	width: 98upx;
	height: 92upx;
	margin-right: 5.33%;
}
.advantage-box li .li-head {
	float: left;
}
.advantage-box li h3 {
	font-size: 34upx;
	font-weight: 500;
	color: #1184e1;
}
.advantage-box li p {
	line-height: 54upx;
	font-size: 26upx;
	font-weight: 400;
	color: #999999;
}
.advantage-box li:first-child {
	margin-top: 0;
}
.tree {
	position: absolute;
	right: -20upx;
	bottom: -8upx;
	border-radius: 16upx;
	opacity: 0.5;
}
.tree img {
	width: 134upx;
	height: 188upx;
}
/* 平台合作流程 */
.process-box {
	width: 100%;
}
.process-box ul {
	display: flex;
	width: 100%;
	margin-top: 52upx;
}
.process-box li {
	position: relative;
	flex: 1;
}
.process-box li img {
	position: absolute;
	width: 18upx;
	height: 10upx;
	right: -12upx;
	top: 26%;
}
.process-box li h2 {
	display: inline-block;
	width: 122upx;
	height: 122upx;
	text-align: center;
	padding: 16upx;
	font-size: 28upx;
	font-weight: 600;
	color: #ffffff;
	border: 6upx solid #e6f8ff;
	border-radius: 50%;
}
.process-box li span {
	display: block;
	width: 112upx;
	margin: 24upx auto;
	font-size: 26upx;
	font-weight: 400;
	color: #666666;
	line-height: 36upx;
}
.process-box li:nth-child(1) h2 {
	background: #8fd8ff;
}
.process-box li:nth-child(2) h2 {
	background: #64c0fa;
}
.process-box li:nth-child(3) h2 {
	background: #39a2ed;
}
.process-box li:nth-child(4) h2 {
	background: #1184e1;
}
/* 众多学员选择 */
.choose-box {
	width: 100%;
}
.choose-box ul {
	width: 100%;
	height: 100%;
	margin-top: 52upx;
}
.choose-box li {
	margin-top: 3.5%;
}
.choose-box li img {
	display: inline-block;
	width: 66upx;
	height: 66upx;
	margin-right: 20upx;
	vertical-align: bottom;
}
.choose-box li p {
	display: inline-block;
	width: 75.8%;
	padding: 28upx 40upx;
	background: #1184e1;
	font-size: 28upx;
	font-weight: 400;
	text-align: justify;
	color: #ffffff;
	line-height: 42upx;
	border: 6upx solid rgba(160, 206, 243, 0.4);
	background-clip: padding-box;
	border-radius: 96upx 96upx 96upx 4upx;
}
.choose-box li:nth-child(2) img {
	margin-left: 20upx;
	margin-right: 0;
}
.choose-box li:nth-child(2) p {
	background: #f6fffd;
	border-radius: 94upx 96upx 4upx 94upx;
	color: #1184e1;
	border: 6upx solid rgba(158, 230, 208,0.2);
}
/* 合作伙伴 */
.partner-box {
	position: relative;
	width: 100%;
	padding: 40upx 24upx 20upx 24upx;
	overflow: hidden;
}
.company ul {
	display: flex;
	margin-top: 24upx;
	overflow: hidden;
}
.company ul li:first-child {
	margin-left: 0;
}
.company li {
	width: 146upx;
	height: 110upx;
	flex: 1;
	margin-left: 20upx;
	background: #ffffff;
	border: 2upx solid #eeeeee;
	border-radius: 8upx;
	overflow: hidden;
}
.company li img {
	width: 100%;
	height: 100%;
	transform:scale(1.05);
}
.company .more-company {
	cursor: pointer;
	padding: 44upx 0px;
}
.company .more-company a {
	text-align: center;
	font-size: 20upx;
	font-weight: 400;
	color: #999999;
}
.company .more-company a span {
	display: block;
	line-height: 40upx;
}
.company .more-company a .dian {
	font-size: 0;
}
.company .more-company a .dian span {
	display: inline-block;
	width: 8upx;
	height: 8upx;
	margin-right: 8upx;
	background: #e5e5e5;
	border-radius: 50%;
}
.company .more-company a .dian span:last-child {
	margin-right: 0;
}
.worknow-2 {
	width: 464upx;
	height: 104upx;
	margin: 40upx auto 18upx;
}
.worknow-2 a {
	
}
.worknow-2 img {
	width: 464upx;
	height: 104upx;
}
/* 品牌入驻界面结束 */ /* 合作申请界面开始 */
.apply-main {
	position: relative;
	width: 750upx;
	height: 100%;
	background: #f7f8f9;
	overflow: hidden;
}
.apply-title {
	width: 100%;
	height: 88upx;
	padding: 20upx;
	background: #ffffff;
	text-align: center;
	border-bottom: 2upx solid #eeeeee;
	line-height: 48upx;
}
.apply-title a {
	float: left;
	width: 48upx;
	height: 48upx;
}
.apply-title a .icon-left-no-bg {
	display: inline-block;
	width: 56upx;
	height: 56upx;
	-webkit-mask: url(https://static.jiaoyubao.cn/images/common/icon-left-no-bg.svg) no-repeat;
	mask: url(https://static.jiaoyubao.cn/images/common/icon-left-no-bg.svg) no-repeat;
	background-color: #000;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}
.apply-title h1 {
	display: inline;
	line-height: 56upx;
	font-size: 36upx;
	color: #262626;
}
.apply-city {
	position: relative;
	margin-bottom: 28upx;
}
.apply-city a {
	position: absolute;
	top: 30upx;
	right: 40upx;
	line-height: 24upx;
}
.apply-city .icon-right-no-bg {
	display: inline-block;
	width: 40upx;
	height: 40upx;
	-webkit-mask: url(https://static.jiaoyubao.cn/images/common/icon-right-no-bg.svg) no-repeat;
	mask: url(https://static.jiaoyubao.cn/images/common/icon-right-no-bg.svg) no-repeat;
	background-color: #adadad;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}
.apply-phone {
	margin-bottom: 28upx;
}
.list-block {
	margin-bottom: 80upx;
}
.list-block hr {
	margin: 0 auto;
	width: 92%;
	height: 2upx;
	background: #e5e8ed;
	transform: scaleY(0.5);
}
.list-block .item-title {
	display: inline-block;
	width: 176upx;
	height: 108upx;
	margin-right: 44upx;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	flex-shrink: 0;
	vertical-align: top;
}
.list-block li {
	width: 750upx;
	background: #fff;
	font-size: 30upx;
	color: #262626;
	line-height: 108upx;
}
.item-input {
	width: 560upx;
	margin-top: -16upx;
	margin-bottom: -14upx;
	flex-shrink: 1;
}
.list-block .item-content {
	box-sizing: border-box;
	padding-left: 30upx;
	min-height: 44px;
	align-items: center;
	display: flex;
	justify-content: space-between;
}
.list-block input {
	display: block;
	width: 560upx;
	height: 98upx;
	font-size: 30upx;
	color: #000;
	line-height: 32upx;
	text-overflow: ellipsis;
	box-sizing: border-box;
	border: none;
	box-shadow: none;
}
.city-picker input {
	color: #000!important;
}
.apply-submit {
	padding: 0 30upx;
	margin: 80upx auto;
	line-height: 88upx;
	text-align: center;
	cursor: pointer;
}
.apply-submit a {
	display: block;
	width: 100%;
	height: 88upx;
	background: #1a8cff;
	border-radius: 44upx;
	font-size: 34upx;
	color: #ffffff;
	text-decoration: none;
}

/* 合作申请界面结束 */ /* 申请成功弹窗开始 */
.apply-success {
	width: 100%;
	height: 100%;
	padding: 100upx 30upx;
	background: #ffffff;
	text-align: center;
	overflow: hidden;
}
.apply-success h2 {
	display: block;
	margin: 30upx auto;
	font-size: 40upx;
	color: #000000;
	font-weight: 600;
}
.apply-success .suc-text {
	font-size: 28upx;
	color: #8c8c8c;
	line-height: 42upx;
}
.suc-logo .icon-check-block {
	display: inline-block;
	width: 180upx;
	height: 180upx;
	-webkit-mask: url(https://static.jiaoyubao.cn/images/common/icon-check-block.svg) no-repeat;
	mask: url(https://static.jiaoyubao.cn/images/common/icon-check-block.svg) no-repeat;
	background-color: #1a8cff;
	-webkit-mask-size: 100% 100%;
	mask-size: 100% 100%;
}
.back-home,
.back-apply {
	width: 100%;
	height: 88upx;
	line-height: 88upx;
	border-radius: 44upx;
	text-align: center;
	cursor: pointer;
}
.back-home a,
.back-apply a {
	font-size: 34upx;
	text-decoration: none;
}
.back-home {
	margin-top: 60upx;
	background: #1a8cff;
	cursor: pointer;
}
.back-home a {
	color: #ffffff;
}
.back-apply {
	margin-top: 30upx;
	background: #ffffff;
	border: 2upx solid #1a8cff;
}
.back-apply a {
	color: #1a8cff;
}
/* 申请成功弹窗结束 */
