.m-about-container .m-common-main {
  text-align: justify;
  color: #262626;
  font-size: 30rpx;
  line-height: 56rpx;
  padding: 0 32upx 80upx; }

.m-about-container .m-common-main h3 {
  padding-top: 32upx;
  font-size: 36upx;
  color: #262626;
  text-align: center;
  font-weight: 600; }

.m-about-container .m-common-main p {
  margin-top: 28rpx;
  font-size: 28upx;
  color: #262626;
  line-height: 40upx;
  text-align: justify; }
